.slogan{
    display: block;
    justify-self: center;
    width: 10%;
    border-radius: 50%;
}

.slogan:hover{
    display: block;
    justify-self: center;
    border-radius: 50%;
    animation: neonPulse 10s linear infinite;
}