.home-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 3%;
}

.game-mode-container{

}

.home-container{
    display: flex;
    flex-direction: column;
    gap: 50%;
}

.game-mode-container{
    align-self: flex-start;
}

.home-options{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 50%;
    height: 40%;
    background-color: #333;
}

.home-button{
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 40px;
}

.mode{
    align-self: flex-start;
}
