.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 3%;
}


.home-container {
    display: flex;
    flex-direction: column;
    gap: 50%;
}

.game-mode-container {
    align-self: flex-start;
    text-align: center;
    height: 5%;
    width: 20%;
}

.game-mode-container:hover {
    align-self: flex-start;
    animation: neonPulse 10s linear infinite;
}

.home-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 50%;
    height: 30%;
}

.home-options:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 50%;
    height: 30%;
    animation: neonPulse 10s linear infinite;
}

.home-button {
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 40px;
    width: 50%;
    color: rgb(255, 251, 251);
    background-color: #4CAF50;
}

.home-button:hover {
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 40px;
    animation: neonPulse 10s linear infinite;
}

.mode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    width: 20%;
    text-align: center;
    height: 15%;
}

.mode:hover {
    align-self: flex-start;
    animation: neonPulse 10s linear infinite;
}

.home-input {
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: cursor;
    width: 50%;
    border-radius: 40px;
    color: rgb(114, 114, 114);
}

.home-input:hover {
    padding: 10px 20px;
    font-size: 1.5rem;
    cursor: cursor;
    border-radius: 40px;
    color: rgb(114, 114, 114);
    animation: neonPulse 10s linear infinite;
}

select {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 20px;
    color: rgb(114, 114, 114);
    width: 70%;
    align-self: center;
}

select:hover {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 20px;
    color: rgb(0, 0, 0);
}