.lobby-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  color: rgba(220, 255, 245, 0.95);
}

.lobby-players{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.oponent-players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;

  justify-items: center;
  align-items: center;

}

.player{
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 5%;
  width: 50%;
}

.logout-space{
  margin-top: 5%;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  width: 20%;
}

h2{
  font-size: 60px;
}