.score-card{
    display:flex;
    flex-direction: column;
    width: 5%;
    align-items: center;
    justify-self: center;
    color: rgba(220, 255, 245, 0.95);
}
.game-state{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}
.score-page{
    display: flex;
    justify-content: space-around;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.empty{
    width: 40%;
}
.card-container{
    width: 40%;
}