@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
  background-image: linear-gradient(to right, rgb(24, 24, 24), rgb(0, 0, 0),rgb(32, 32, 32));
}

* {
  text-decoration: none;
  font-family: 'Press Start 2P', cursive;
  color: rgb(73, 73, 73);
}

.neon {
    border-radius: 40px;
    box-shadow: 
    0 0 20px rgb(244, 244, 244),0 0 40px rgb(244, 244, 244);
}

@keyframes neonPulse {

    /* WHITE */
    0% {
        box-shadow:
            0 0 5px rgba(255, 255, 255, 0.5),
            0 0 15px rgba(255, 255, 255, 0.3);
    }

    /* RED */
    7% {
        box-shadow:
            0 0 10px red,
            0 0 25px red,
            0 0 45px red;
    }

    14% {
        box-shadow:
            0 0 5px rgba(255, 255, 255, 0.5),
            0 0 15px rgba(255, 255, 255, 0.3);
    }

    /* ORANGE */
    21% {
        box-shadow:
            0 0 10px orange,
            0 0 25px orange,
            0 0 45px orange;
    }

    28% {
        box-shadow:
            0 0 5px rgba(255, 255, 255, 0.5),
            0 0 15px rgba(255, 255, 255, 0.3);
    }

    /* YELLOW */
    35% {
        box-shadow:
            0 0 10px yellow,
            0 0 25px yellow,
            0 0 45px yellow;
    }

    42% {
        box-shadow:
            0 0 5px rgba(255, 255, 255, 0.5),
            0 0 15px rgba(255, 255, 255, 0.3);
    }

    /* GREEN */
    49% {
        box-shadow:
            0 0 10px green,
            0 0 25px green,
            0 0 45px green;
    }

    56% {
        box-shadow:
            0 0 5px rgba(255, 255, 255, 0.5),
            0 0 15px rgba(255, 255, 255, 0.3);
    }

    /* BLUE */
    63% {
        box-shadow:
            0 0 10px blue,
            0 0 25px blue,
            0 0 45px blue;
    }

    70% {
        box-shadow:
            0 0 5px rgba(255, 255, 255, 0.5),
            0 0 15px rgba(255, 255, 255, 0.3);
    }

    /* INDIGO */
    77% {
        box-shadow:
            0 0 10px indigo,
            0 0 25px indigo,
            0 0 45px indigo;
    }

    84% {
        box-shadow:
            0 0 5px rgba(255, 255, 255, 0.5),
            0 0 15px rgba(255, 255, 255, 0.3);
    }

    /* VIOLET */
    91% {
        box-shadow:
            0 0 10px violet,
            0 0 25px violet,
            0 0 45px violet;
    }

    100% {
        box-shadow:
            0 0 5px rgba(255, 255, 255, 0.5),
            0 0 15px rgba(255, 255, 255, 0.3);
    }
}