@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.856), rgb(0, 0, 0), rgba(10, 14, 25, 0.932));
}

* {
  text-decoration: none;
  font-family: 'Press Start 2P', cursive;
  font-size: 100%;
}

.neon {
    border-radius: 40px;
    box-shadow: 
        0 0 5px rgb(244, 244, 244),0 0 10px rgb(244, 244, 244);
  color: rgba(220, 255, 245, 0.92);
}

@keyframes neonPulse {
    /* WHITE */
    0% {
        box-shadow:
            0 0 5px rgba(255, 255, 255, 0.5),
            0 0 15px rgba(255, 255, 255, 0.3);
        color: rgb(244, 244, 244);
    }

    /* RED */
    7% {
        box-shadow:
            0 0 10px red,
            0 0 25px red,
            0 0 45px red;
    }

    14% {
        box-shadow:
            0 0 5px rgba(255, 255, 255, 0.5),
            0 0 15px rgba(255, 255, 255, 0.3);
    }

    /* ORANGE */
    21% {
        box-shadow:
            0 0 10px orange,
            0 0 25px orange,fsfs
            0 0 45px orange;
        color: rgb(244, 244, 244);
    }

    28% {
        box-shadow:
            0 0 5px rgba(255, 255, 255, 0.5),
            0 0 15px rgba(255, 255, 255, 0.3);
    }

    /* YELLOW */
    35% {
        box-shadow:
            0 0 10px yellow,
            0 0 25px yellow,
            0 0 45px yellow;
        color: rgb(0, 0, 0);
    }

    42% {
        box-shadow:
            0 0 5px rgba(255, 255, 255, 0.5),
            0 0 15px rgba(255, 255, 255, 0.3);
    }

    /* GREEN */
    49% {
        box-shadow:
            0 0 10px green,
            0 0 25px green,
            0 0 45px green;
    }

    56% {
        box-shadow:
            0 0 5px rgba(255, 255, 255, 0.5),
            0 0 15px rgba(255, 255, 255, 0.3);
    }

    /* BLUE */
    63% {
        box-shadow:
            0 0 10px blue,
            0 0 25px blue,
            0 0 45px blue;
    }

    70% {
        box-shadow:
            0 0 5px rgba(255, 255, 255, 0.5),
            0 0 15px rgba(255, 255, 255, 0.3);
    }

    /* INDIGO */
    77% {
        box-shadow:
            0 0 10px indigo,
            0 0 25px indigo,
            0 0 45px indigo;
    }

    84% {
        box-shadow:
            0 0 5px rgba(255, 255, 255, 0.5),
            0 0 15px rgba(255, 255, 255, 0.3);
    }

    /* VIOLET */
    91% {
        box-shadow:
            0 0 10px violet,
            0 0 25px violet,
            0 0 45px violet;
    }

    100% {
        box-shadow:
            0 0 5px rgba(255, 255, 255, 0.5),
            0 0 15px rgba(255, 255, 255, 0.3);
        color: rgb(244, 244, 244);
    }
}